-- MySQL dump 10.13  Distrib 8.0.42, for Win64 (x86_64)
--
-- Host: localhost    Database: inventory_system
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `history`
--

DROP TABLE IF EXISTS `history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `history` (
  `CUSTOMER` varchar(50) DEFAULT NULL,
  `DATE` date DEFAULT NULL,
  `INVOICE` varchar(20) DEFAULT NULL,
  `FLAG` char(1) DEFAULT NULL,
  `CODE` int DEFAULT NULL,
  `AMOUNT` decimal(12,2) DEFAULT NULL,
  `QTY` int DEFAULT NULL,
  `PARTNO` varchar(30) DEFAULT NULL,
  `BRAND` varchar(20) DEFAULT NULL,
  `DESCRIPTION` varchar(100) DEFAULT NULL,
  `APPL` varchar(100) DEFAULT NULL,
  `LOCATION` varchar(20) DEFAULT NULL,
  `COST` decimal(12,2) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `history`
--

LOCK TABLES `history` WRITE;
/*!40000 ALTER TABLE `history` DISABLE KEYS */;
/*!40000 ALTER TABLE `history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master`
--

DROP TABLE IF EXISTS `master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `master` (
  `DINFLAG` char(1) DEFAULT NULL,
  `BENZ` char(16) DEFAULT NULL,
  `BENZ2` char(16) DEFAULT NULL,
  `BENZ3` char(16) DEFAULT NULL,
  `BRAND` char(12) DEFAULT NULL,
  `ALTNO` char(20) DEFAULT NULL,
  `ALTNO2` char(20) DEFAULT NULL,
  `DESCRIPTION` char(30) DEFAULT NULL,
  `APPL` char(30) DEFAULT NULL,
  `UNIT` char(6) DEFAULT NULL,
  `LOCATION` char(10) DEFAULT NULL,
  `REORDER` int DEFAULT NULL,
  `BALANCE` int DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master`
--

LOCK TABLES `master` WRITE;
/*!40000 ALTER TABLE `master` DISABLE KEYS */;
/*!40000 ALTER TABLE `master` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stocks`
--

DROP TABLE IF EXISTS `stocks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stocks` (
  `DINFLAG` char(1) DEFAULT NULL,
  `BENZ` varchar(20) DEFAULT NULL,
  `BENZ2` varchar(20) DEFAULT NULL,
  `BENZ3` varchar(20) DEFAULT NULL,
  `BRAND` varchar(50) DEFAULT NULL,
  `ALTNO` varchar(20) DEFAULT NULL,
  `ALTNO2` varchar(20) DEFAULT NULL,
  `COLORCODE` varchar(20) DEFAULT NULL,
  `REMARKS` varchar(100) DEFAULT NULL,
  `DATE` date DEFAULT NULL,
  `COST` decimal(10,2) DEFAULT NULL,
  `SELL` decimal(10,2) DEFAULT NULL,
  `QTY` int DEFAULT NULL,
  `CURRENCY` varchar(10) DEFAULT NULL,
  `FCAMOUNT` decimal(10,2) DEFAULT NULL,
  `CONVERSION` decimal(10,4) DEFAULT NULL,
  `LOCATION` varchar(50) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stocks`
--

LOCK TABLES `stocks` WRITE;
/*!40000 ALTER TABLE `stocks` DISABLE KEYS */;
/*!40000 ALTER TABLE `stocks` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-07-09 14:58:07
